#work {
  background-color: #222629;
  color: #cecfd2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}
#work .btn-list {
  display: flex;
  flex-direction: column;
  color: #cecfd2;
}
#work .btn {
  border-left: 3px solid rgb(188, 188, 188, 0.2);
  padding: 0.9rem 1rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#work .btn:hover {
  background-color: rgb(97, 137, 47, 0.1);
  color: #61892f;
}
#work .active-btn {
  border-left: 3px solid #61892f;
  color: #61892f;
  background-color: rgb(97, 137, 47, 0.1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#work .desiganation-container {
  // height: 16rem;
  width: 100%;
  padding: 2rem 0rem 1rem 0rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  word-break: break-all;
}
#work .desiganation {
  min-height: 15em;
  max-height: 28rem;
  width: 70rem;
  display: flex;
  justify-content: center;
  word-break: break-all;
  font-size: 1.2rem;
}
#work .desiganation-break {
  width: 60rem;
  word-break: break-word;
}
#work .desiganation-detail {
  padding: 1rem 1.5rem 0rem;
}
#work .desiganation-detail ul {
  list-style-type: disc;
  opacity: 0.8;
}

@media (max-width: 786px) {
  #work .desiganation {
    min-height: 15em;
    max-height: 38rem;
    width: 40rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  #work .desiganation {
    min-height: 15em;
    max-height: 46rem;
    width: 22rem;
    font-size: 1rem;
  }
  #work .desiganation-detail {
    padding: 1rem 1rem 0rem;
  }
}
