#blog {
    background-color: #222629;
    color: #cecfd2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0em;
  }
.editor-container{
    width: 80%;
    background-color: #222629;
    color: #cecfd2;
    padding: 3em 0em;

}
.editor{
    width: 100%;
    height: 80vh; 
}

.preview-container{
  width: 80%;
  background-color: #222629;
  color: #cecfd2;
  padding: 3em 0em;

}