#blog {
  background-color: #222629;
  color: #cecfd2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0em;
}
#blogs {
  background-color: #222629;
  color: #cecfd2;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0em;
}
.author-introduction-header {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1em;
}
.author-introduction-contain {
  font-size: 1.1rem;
  padding: 1em 0em;
}
.blog-container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.blog-thumbnail {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  width: 500px;
  height: 250px;
}

.blog-card {
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #cecfd2;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.blog-card-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.blog-card-tech-stack {
  font-size: 1.2rem;
}
.blog-card:hover,
.blog-card:focus,
.blog-card:active {
  color: #61892f;
}
.blog-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3em;
}

h1 {
  margin-bottom: 0.8rem;
}

.editor-container {
  width: 80%;
  background-color: #222629;
  color: #cecfd2;
  padding: 3em 0em;
}
.editor {
  width: 100%;
  height: 80vh;
}
.upload-img-btn {
  background-color: #222629;
  color: #cecfd2;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
}

.preview-container {
  display: flex;
  justify-content: center;
  width: 70%;
  background-color: #222629;
  color: #cecfd2;
  padding: 3em 0em;
}
.preview-content {
  padding-top: 1em;
}
.preview-content h1 {
  font-size: 2em;
  font-weight: 500;
}
.preview-content h2 {
  font-size: 1.5em;
  font-weight: 500;
}
.preview-content h3 {
  font-size: 1.17em;
}
.preview-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  opacity: 0.8;
}
.preview-content strong {
  color: #86c232;
  font-size: 0.8em;
  font-weight: 600;
}
.preview-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.preview-content a {
  text-decoration: underline;
  font-weight: 600;
  color: #86c232;
}
.preview-content pre {
  width: 100%;
  overflow-x: auto;
  max-width: 80vw;
  padding: 1.5rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  border: none;
  margin: 2rem 0rem;
  background-color: #16191b;
}
.preview-content ol{
  padding-left: 2em;
  list-style: decimal;
  font-size: 1.2em;
  line-height: 1.5em;
  opacity: 0.8;
}
.preview-content ul{
  padding-left: 2em;
  list-style: disc;
  font-size: 1.2em;
  line-height: 1.5em;
  opacity: 0.8;
}
.preview-content .ql-align-center {
  text-align: center;
}
.preview-content .ql-align-right {
  text-align: right;
}
.preview-content blockquote {
  padding: 1em;
  border-left: 5px solid #86c232;
  background-color: #16191b;
  color: #cecfd2;
  margin: 1em 0em;
  font-style: italic;
}
.blog-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  color: #cecfd2;
}

@media (max-width: 768px) {
  #blog {
    padding: 3em 0em;
  }
  #blogs {
    height: 100%;
    padding: 4em 0em;
  }
  .blog-thumbnail {
    width: 500px;
    height: 200px;
  }
  .blog-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }
  .mobile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .preview-content img {
    width: 85%;
  }
  .preview-container {
    width: 85%;
  }
  .preview-content h1 {
    font-size: 1.9em;
  }
  .preview-content h2 {
    font-size: 1.4em;
  }
  .preview-content p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .preview-content pre {
    padding: 1.3rem;
    font-size: 1.1rem;
    margin: 1.5rem 0rem;
  }
}
@media (max-width: 576px) {
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .author-introduction-header {
    font-size: 1.5rem;
    padding-top: 0.8em;
  }
  .author-introduction-contain {
    font-size: 1rem;
  }
  .blog-thumbnail {
    width: 450px;
    height: 180px;
  }
  .blog-card {
    margin: 1rem;
  }
  .blog-card-title {
    font-size: 1.2rem;
  }
  .blog-card-tech-stack {
    font-size: 1rem;
  }
  .preview-container {
    width: 90%;
  }
  .preview-content h1 {
    font-size: 1.8em;
  }
  .preview-content h2 {
    font-size: 1.3em;
  }
  .preview-content h3 {
    font-size: 1.2em;
  }
  .preview-content p {
    font-size: 1em;
    line-height: 1.5em;
  }
  .preview-content pre {
    max-width: 90vw;
    padding: 1.2rem;
    font-size: 1rem;
    margin: 1.3rem 0rem;
  }
  .preview-content img {
    width: 90%;
  }
}
